<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

</head>
<body>
    <div class="form-group" id="modal-emp">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://127.0.0.1:8000/crud/">Home</a>
        </div>
    </nav>
    <div class="col-md-1"></div>
    <div class="col-md-10 well">
        <h3 class="text-primary">Django CRUD</h3>
        <hr style="border-top:1px dotted #ccc;"/>
        {% block body %}

        {% endblock %}
    </div>
    </div>
<script src="{% static 'crud/js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'crud/js/script.js' %}"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.2.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js"></script>


</body>
</html>