<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://google.co.in">Google</a>
        </div>
    </nav>
    <div class="col-md-2"></div>
    <div class="col-md-8 well">
        <h3 class="text-primary">Django CRUD</h3>
        <hr style="border-top:1px dotted #ccc;"/>
        {% block body %}

        {% endblock %}
    </div>
<script src="{% static 'crud/js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'crud/js/script.js' %}"></script>
</body>
</html>