{% extends 'crud/base.html' %}
{% block body %}
    <form>
        {% csrf_token %}
        <input type="hidden" id="member_id" value="{{ member.id }}"/>
        <div class="form-group">
            <label>Firstname</label>
            <input type="text" id="firstname" value="{{ member.firstname }}" required="required"/>
        </div>
        <div class="form-group">
            <label>Lastname</label>
            <input type="email" id="lastname" value="{{ member.lastname }}" required="required"/>            
        </div>
        <div class="form-group">
            <button type="button" id="update" class="btn btn-sm btn-warning">Update</button>
        </div>
    </form>
  
{% endblock %}