{% extends 'crud/base.html' %}
{% block body %}
<form class="form-group">
	{% csrf_token %}	
	{% load static %} 
	
		
	<div class="form-group">
		<label>Name</label>
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>   
			<input type="text" id="firstname" class="form-control" style="width: 30%" required="required" placeholder="Enter Name"/>
			
		</div>
	</div>
	<div class="form-group">
		<label>Email</label>
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>   
			<input type="text" id="lastname" class="form-control" style="width: 30%" required="required" placeholder="Enter Email"/>
		</div>	
		<br />
		<button type="button" id="create" class="btn btn-sm btn-success">Create</button>	
	</div>


  	<br />
  	<div id="result">
	</div>
	      
</form>


{% endblock %}
